*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz



.DS_Store
frontend/.DS_Store
.vscode/

.env

node_modules/

.expo/

ios/
android/

backend/static/uploads/*
backend/__pycache__/
backend/*.pyc
backend/app/__pycache__/
backend/app/services/__pycache__/
backend/app/services/*.pyc
backend/routes/__pycache__/
backend/routes/*.pyc
.DS_Store

__pycache__/


